* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center; 
    align-items: center;

    height: 100vh;
}

.caixa {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}